# vim swapfiles
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
sdist/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

/test_chroots/
